language: node_js
node_js:
- '8'
- '6'
before_script:
- git config user.name "Travis CI"
- git config user.email "mail@mail.com"
cache:
  yarn: true
  directories:
    - node_modules
notifications:
  slack:
    secure: "BDNxGvbnIyqGhup6lOInE/75OAIV4+cdq2a1XR/Lb3OhTHPcIou3AhBIrj0iD9+EyKWtSMEMpa8fbCd0/lARSr8jxz7RoSR6xxsGJjZ5eX9xSyvtec3y/zXfocBIaPJKJStrh/r01QPIbjOtnI3biYFZXvef/j91gO4qHOqOGDRv523ogdWJC/e69pbNl99glvCH8UXYVIvESMLJymMUizttOHdVo4051xPRqLRye+9UQLv5JXFh2f9p073OjKct3yMXysCrOClcpzEwQDAOo6o0QeOdcQN4m7lhwpbHBadTuZ8m2fEBD00ZbxLyXr2hsO1QZGRULoI9TqgeapoKpbXtpI/UDvKBo4HLKuO3z7XeWUqJsffzYaRTTCs8jcQHGL6nmfr4XmU098p6vRjo7+c+Alfr5C2+YLhhircGRRhvm36FJyBj5BoLne8TVt96EiIlDgzsg98DzmT8p4hq8CvWm45M4vlInHRBOOSiCS7G+p6kAVR92zxZybCJBD9W5NoV8UPvfC3mQqs/LvGCUCSKxNDMD15rNY+a6v/LNDsmXabUBTGxnuyETc4axyu0Iu5gAjQKnBpqdnMNCAcSqxKFy1wYt7VgnMy0XxDLeYqwNBpvw7Yr0vmfDxFvdBLCboGK3jiHpvZagwc77Xdy5usts4LnLvTtGJjc19LdT58="
